@font-face {
  font-family: "OpenSans Regular";
  src: url("assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans Light";
  src: url("assets/fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans Bold";
  src: url("assets/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Monserrat Regular";
  src: url("assets/fonts/Montserrat-Regular.ttf") format("truetype");
}
