$fontFamily: "OpenSans Regular", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$fontFamilyLight: "OpenSans Light", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$fontFamilyBold: "OpenSans Bold", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$titleColor: #253A49;
$titleColorWhite: #fff;
$ctaBg: #FF6D37;
$ctaColor: #fff;